[GlobalSettings]

# The compression algorithms are:
# ALGO_INTERP_LORENZO
#     The default algorithm in SZ3. It is the implementation of our ICDE'21 paper.
#     The whole dataset will be compressed by interpolation or lorenzo predictor with auto-optimized settings.
# ALGO_INTERP
#     The whole dataset will be compressed by interpolation predictor with default settings.
# ALGO_LORENZO_REG
#     The whole dataset will be compressed by lorenzo and/or regression based predictors block by block with default settings.
#     The four predictors ( 1st-order lorenzo, 2nd-order lorenzo, 1st-order regression, 2nd-order regression)
#     can be enabled or disabled independently by conf settings (Lorenzo, Lorenzo2ndOrder, Regression, Regression2ndOrder).
CmprAlgo = ALGO_LORENZO_REG

[AlgoSettings]

#settings for lorenzo and regression algorithms
Lorenzo = No
Lorenzo2ndOrder = No
Regression = No
Regression2ndOrder = No
dualquant = Yes